
// Colors
$c-white:         #fff;
$c-gray-light:    #ccc;
$c-gray-dark:     #3e3e3e;
$c-black:         #000;


// Pallette
// $c-primary:       $c-blue-dark1;
// $c-secondary:     $c-blue-dark2;
$c-light:         $c-white;
$c-dark:          $c-black;
// $c-accent:        $c-orange1;
