// ----- Tags (controls)
.controls.tags {
  .trigger {
    align-items: center;
    background-color: $c-primary;
    box-shadow: 0 0 6px 0 rgba($c-dark, 0.45);
    color: $c-light;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-bottom: $gutter;
    padding: 20px;

    &::after {
      content: '▼';
      display: inline-block;
      padding-left: 20px;
    }
  }

  ul {
    font-size: 12px;
    list-style: none;
    margin: 0;

    li {
      align-items: center;
      cursor: pointer;
      display: none;
      margin-bottom: 1px;
      padding: 3px 15px;
      width: 100%;

      &.active {
        background: $c-gr-accent;
        background-color: $c-accent;
        color: $c-light;
        padding-right: 30px;
        position: relative;

        &::after {
          content: 'x';
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  @include breakpoint(small) {
    padding: $gutter 0 $gutter 10px;

    .trigger {
      display: none;
    }

    ul {
      align-items: stretch;
      border-left: 1px solid $c-primary;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-between;
      padding: 5px 0;

      li {
        display: flex;
      }
    }
  }
}
