// ----- Tags (controls)
.controls.tags {
  .trigger {
    align-items: center;
    background-color: $c-w-lt-grey;
    border: 1px solid $c-w-grey;
    color: $c-w-dk-grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: $gutter;
    padding: 20px;
  }

  ul {
    font-size: 12px;
    list-style: none;
    margin: 0;

    li {
      cursor: pointer;
      display: none;
      padding: 3px 15px;

      &.active {
        background: $c-gr-accent;
        background-color: $c-accent;
        color: $c-light;
        display: block;
        padding-right: 30px;
        position: relative;

        &::after {
          content: 'x';
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  @include breakpoint(small) {
    padding: $gutter 0 $gutter 10px;

    .trigger {
      display: none;
    }

    ul {
      border-left: 1px solid $c-primary;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 100%;
      justify-content: space-between;

      li {
        display: block;
      }
    }
  }
}
