// ----- Wireframe Structure

// !! TEMP
@mixin wire {
  align-items: center;
  background-color: $c-w-lt-grey;
  border: 1px solid $c-w-grey;
  color: $c-w-dk-grey;
  display: flex;
  justify-content: center;
  margin-bottom: $gutter;
  padding: 20px;
}

.notes {
  display: none;
}

// -----
